body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.tint {
  position: absolute;
  background-image: linear-gradient(
    12deg,
    rgba(0, 0, 0, 0.85) 36%,
    rgba(0, 0, 0, 0.8465) 40.58%,
    rgba(0, 0, 0, 0.8361) 45.17%,
    rgba(0, 0, 0, 0.8187) 49.75%,
    rgba(0, 0, 0, 0.7944) 54.33%,
    rgba(0, 0, 0, 0.7632) 58.92%,
    rgba(0, 0, 0, 0.725) 63.5%,
    rgba(0, 0, 0, 0.6868) 68.08%,
    rgba(0, 0, 0, 0.6556) 72.67%,
    rgba(0, 0, 0, 0.6313) 77.25%,
    rgba(0, 0, 0, 0.6139) 81.83%,
    rgba(0, 0, 0, 0.6035) 86.42%,
    rgba(0, 0, 0, 0.6) 91%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.nav {
  width: 1140px;
  position: absolute;
  display: flex;
  margin-top: 2%;
  z-index: 3;
  align-content: center;
  justify-content: space-between;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  color: rgb(229, 9, 20);
}

.nav-flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.en-btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.458);
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.523);
  border-radius: 4px;
  padding: 6px 14px;
  gap: 6px;
}

.signin-btn {
  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
}

.signin-btn:hover {
  background-color: rgb(193, 17, 25);
  cursor: pointer;
}

.content {
  position: absolute;
  text-align: center;
  color: white;
  top: 0;
  width: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.title {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
}

.sub-title {
  font-size: 22px;
  font-weight: bold;
}

.desc {
  font-size: 18px;
}

.content-flex {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
  padding-top: 20px;
}

.content-input {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  padding: 3px 16px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.523);
  border-radius: 4px;
}

.content-input::placeholder {
  color: rgba(255, 255, 255, 0.718);
  font-size: 14px;
  font-weight: 300;
}

.content-btn {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 24px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  gap: 8px;
}

.content-btn:hover {
  background-color: rgb(193, 17, 25);
  cursor: pointer;
}

.mt {
  padding-top: 4px;
}

/* Next Section */
.container-cta {
  display: flex;
  max-width: 990px;
  width: 100%;
  background-color: #00000000;
  background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 150px;
  justify-content: center;
  margin: 1px auto 0;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  margin: 0;
}

.cta-popcorn {
  height: 90px;
}

.cta .cta-text p,
.cta-text h3 {
  margin: 0 auto 8px;
}

.cta-h3 {
  font-size: 20px;
  font-weight: 500;
}

.cta-p {
  font-size: 16px;
  font-weight: 500;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 4, 0);
  color: rgb(78, 104, 255);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  gap: 8px;
  text-decoration: underline;
}

.container-tv {
  color: white;
  display: flex;
  margin: 100px auto;
  width: 1000px;
  gap: 40px;
  align-items: center;
}

.left {
  width: 50%;
}

.heading {
  font-size: 48px;
  margin: 0;
}

.sub-heading {
  font-size: 22px;
}

.right {
  width: 50%;
}

.real-tv {
  position: relative;
}

.tv {
  position: relative;
  width: 109%;
}

.video {
  position: absolute;
  object-fit: contain;
  width: 90%;
  margin-left: 40px;
  height: 100%;
}

/* New Section */
.container-trending {
  display: flex;
  flex-direction: column;
  margin: 100px auto 30px auto;
  width: 1200px;
}

.trending-h2 {
  color: white;
  font-weight: 500;
}

.trending-img {
  position: relative;
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  overflow: scroll;
  padding-left: 20px;
  overflow-y: hidden;
}

/* Was unable to create carousal so added scroll*/

.trending-img::-webkit-scrollbar {
  height: 2px;
}

.trending-img::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.377);
}

.trending-img::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.419);
  border-radius: 10px;
}

.img {
  width: 180px;
  border: none;
  border-radius: 6px;
}

.number {
  position: absolute;
  z-index: 5;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 100px;
  bottom: 2%;
  margin: 0;
  margin-left: -20px;
}

/* New Section */
.container-featurebox {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 1200px;
}

.featurebox-h2 {
  color: white;
  font-weight: 500;
}

.featurebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.featurebox1 {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  color: white;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  padding: 20px;
  border: none;
  border-radius: 15px;
  flex-shrink: 0;
}

.featurebox-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featurebox-h3 {
  font-size: 23px;
  margin: 0;
}

.featurebox-desc {
  color: rgba(255, 255, 255, 0.704);
  font-weight: 500;
  margin: 0;
}

.featurebox-svg {
  align-self: flex-end;
}

/* New Section Start */
.container-faq {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 1200px;
}

.faq-h2 {
  color: white;
  font-weight: 500;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.faq-accordian {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
  border: none;
  padding: 25px;
  color: white;
}

.faq-question {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.faq-accordian:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}

/* New Section Start */
.container-getstarted {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 1200px;
}

.getstarted-desc {
  color: white;
  text-align: center;
}

.getstarted-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.getstarted-input {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  padding: 3px 16px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.523);
  border-radius: 4px;
}

.getstarted-input::placeholder {
  color: rgba(255, 255, 255, 0.755);
  font-size: 16px;
  font-weight: 300;
}

/* New Section Start */
.container-footer {
  display: flex;
  flex-direction: column;
  margin: 50px auto 100px auto;
  width: 1200px;
  padding: 0;
}

.p-call {
  color: rgba(255, 255, 255, 0.732);
}

.footer-option {
  display: flex;
  flex-direction: row;
  width: 85%;
  gap: 60px;
  color: rgba(255, 255, 255, 0.732);
  list-style: none;
  justify-content: space-between;
  line-height: 1.2em;
  text-decoration: underline;
}

.footer-en-btn {
  margin: 20px 0 50px 0;
  text-align: start;
}

.footer-netflix {
  color: rgba(255, 255, 255, 0.732);
  font-weight: 400;
  font-size: 14px;
}

.footer-bot {
  color: rgba(255, 255, 255, 0.718);
  font-weight: 400;
  font-size: 12px;
  margin: 25px 0 50px 0;
}

.footer-bot span {
  color: rgb(48, 124, 255);
  text-decoration: underline;
}
