body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.tint {
  position: absolute;
  background-image: linear-gradient(
    12deg,
    rgba(0, 0, 0, 0.85) 36%,
    rgba(0, 0, 0, 0.8465) 40.58%,
    rgba(0, 0, 0, 0.8361) 45.17%,
    rgba(0, 0, 0, 0.8187) 49.75%,
    rgba(0, 0, 0, 0.7944) 54.33%,
    rgba(0, 0, 0, 0.7632) 58.92%,
    rgba(0, 0, 0, 0.725) 63.5%,
    rgba(0, 0, 0, 0.6868) 68.08%,
    rgba(0, 0, 0, 0.6556) 72.67%,
    rgba(0, 0, 0, 0.6313) 77.25%,
    rgba(0, 0, 0, 0.6139) 81.83%,
    rgba(0, 0, 0, 0.6035) 86.42%,
    rgba(0, 0, 0, 0.6) 91%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav {
  position: absolute;
  display: flex;
  width: 990px;
  margin-top: 5%;
}

.content {
  position: absolute;
  text-align: center;
  color: white;
  top: 0;
  width: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
}

.sub-title {
  font-size: 22px;
  font-weight: bold;
}

.desc {
  font-size: 18px;
}

.content-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-input {
  width: 320px;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  border-color: 1px solid #eeeeee6e;
  border-radius: 4px;
}

.mt {
  padding-top: 6px;
}
